<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link href="{{ url_for('static', filename='css/all_transactions.css')}}" rel="stylesheet" />
    <link href="./../static/css/nav.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;300;600&display=swap" rel="stylesheet">
</head>

<body style="background-color: black;">
    <div class="nav">
        <a class="navitem" href="{{ url_for('alltransaction') }}" style="font-family: 'Josefin Sans', sans-serif; font-weight: 300;">History</a>
        <a class="navitem" href=".{{ url_for('all_groups') }}" id="current" style="font-family: 'Josefin Sans', sans-serif; font-weight: 300;">My Groups</a>
        <a class="navitem" href="{{ url_for('all_pending') }}" id="current" style="font-family: 'Josefin Sans', sans-serif; font-weight: 300;">Pending</a>
        <a class="navitem" href="{{ url_for('login')}}" style="font-family: 'Josefin Sans', sans-serif; font-weight: 300;">Login</a>
        <a class="navitem" href="{{ url_for('transactions') }}" style="font-family: 'Josefin Sans', sans-serif; font-weight: 300;">New Transaction</a>
        <img src="./../static/logo.png" height="75" width="90" alt="logo"/>
      
    </div>
    <div class="heading">MY TRANSACTIONS</div>
    <div class="list" style="background-color: white;">

      <div class="list-item">
        <div class="song-info">
            <div class="song-title">Transaction ID</div>
            <div class="album">Transaction To</div>
            <div class="artist">Amount</div>
        </div>
    </div>
    {% for transaction in transactions %}
      
      <div class="list-item">
        <div class="song-info">
          <div class="song-title">{{ transaction.id }}</div>
          <div class="song-title">{{ transaction.person2 }}</div>
          {% if transaction.amount>0 %}
          <div class="artist" style="color:green">{{ transaction.amount }}</div>
          {%elif transaction.amount<0 %}
          <div class="artist" style="color:red">{{ transaction.amount }}</div>
          {% else %}
          <div class="artist">{{ transaction.amount }}</div>
          {% endif %}
        </div>
      </div>
          
    {% endfor %}
    
    </div>
 </body>