<!DOCTYPE html>
<html>
<head><meta charset="UTF-8">
	<link href="{{ url_for('static', filename='css/group_transactions.css')}}" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;300;600&display=swap" rel="stylesheet">
	<title>Group Transactions</title>
	<link href="./../static/css/nav.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;300;600&display=swap" rel="stylesheet">
</head>
<body style="background-color: black;">
    <div class="nav">
        <a class="navitem" href="{{ url_for('alltransaction') }}" style="font-family: 'Josefin Sans', sans-serif; font-weight: 300;">History</a>
        <a class="navitem" href=".{{ url_for('all_groups') }}" id="current" style="font-family: 'Josefin Sans', sans-serif; font-weight: 300;">My Groups</a>
        <a class="navitem" href="{{ url_for('all_pending') }}" id="current" style="font-family: 'Josefin Sans', sans-serif; font-weight: 300;">Pending</a>
        <a class="navitem" href="{{ url_for('login')}}" style="font-family: 'Josefin Sans', sans-serif; font-weight: 300;">Login</a>
        <a class="navitem" href="{{ url_for('transactions') }}" style="font-family: 'Josefin Sans', sans-serif; font-weight: 300;">New Transaction</a>
        <img src="./../static/logo.png" height="75" width="90" alt="logo"/>
      
    </div>
	<h1>Group Transactions</h1>
	<div class="container">
		<form action="{{ url_for('group_transactions') }}" method="POST">
			<table class="center">
				<thead>
					<tr>
						<th>Person Name</th>
						<th>Amount Owed</th>
					</tr>
				</thead>
				<tbody>
					{% for person in persons %}
					<tr>
						<td>{{ person.personname }}</td>
						<td><input type="text" name="amounts[]" value=""></td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
			<input type="hidden" name="group_id" value="{{ group_id }}">
			<input type="submit" value="Submit">
		</form>
	</div>
</body>
</html>
