<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link href="{{ url_for('static', filename='css/transactions.css')}}" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;300;600&display=swap" rel="stylesheet">
    <title>Transactions</title>
    <link href="./../static/css/nav.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;300;600&display=swap" rel="stylesheet">
</head>
<body style="background-color: black;">
    <div class="nav">
        <a class="navitem" href="{{ url_for('alltransaction') }}" style="font-family: 'Josefin Sans', sans-serif; font-weight: 300;">History</a>
        <a class="navitem" href=".{{ url_for('all_groups') }}" id="current" style="font-family: 'Josefin Sans', sans-serif; font-weight: 300;">My Groups</a>
        <a class="navitem" href="{{ url_for('all_pending') }}" id="current" style="font-family: 'Josefin Sans', sans-serif; font-weight: 300;">Pending</a>
        <a class="navitem" href="{{ url_for('login')}}" style="font-family: 'Josefin Sans', sans-serif; font-weight: 300;">Login</a>
        <a class="navitem" href="{{ url_for('transactions') }}" style="font-family: 'Josefin Sans', sans-serif; font-weight: 300;">New Transaction</a>
        <img src="./../static/logo.png" height="75" width="90" alt="logo"/>
      
    </div>
    <div class="toptext">Choose the type of transaction</div>
    <div class="container">
      <div class="image">
        <form method="get" action="{{ url_for('person_to_person') }}">
          <input class="img" type="image" name="submit" src="{{ url_for('static', filename='people.png')}}" border="0" alt="Submit"/>
        </form>
        <div class="title">Users</div>
      </div>
      <div class="image">
        <form method="get" action="{{ url_for('person_to_group') }}">
          <input class="img" type="image" name="submit" src="{{ url_for('static', filename='groups.png')}}" border="0" alt="Submit"/>
        </form>
        <div class="title">Groups</div>
      </div>
    </div>
   