<!DOCTYPE html>

<html>
  <head>
    <link href="./../static/css/userpage.css" rel="stylesheet" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bodoni+Moda:wght@400;500;600&family=Dancing+Script&family=Josefin+Sans:wght@100;300;600&display=swap" rel="stylesheet"> 

    <title>test</title>
    <link href="./../static/css/nav.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;300;600&display=swap" rel="stylesheet">
</head>
<body style="background-color: black;">
    <div class="nav">
        <a class="navitem" href="{{ url_for('alltransaction') }}" style="font-family: 'Josefin Sans', sans-serif; font-weight: 300;">History</a>
        <a class="navitem" href=".{{ url_for('all_groups') }}" id="current" style="font-family: 'Josefin Sans', sans-serif; font-weight: 300;">My Groups</a>
        <a class="navitem" href="{{ url_for('all_pending') }}" id="current" style="font-family: 'Josefin Sans', sans-serif; font-weight: 300;">Pending</a>
        <a class="navitem" href="{{ url_for('login')}}" style="font-family: 'Josefin Sans', sans-serif; font-weight: 300;">Login</a>
        <a class="navitem" href="{{ url_for('transactions') }}" style="font-family: 'Josefin Sans', sans-serif; font-weight: 300;">New Transaction</a>
        <img src="./../static/logo.png" height="75" width="90" alt="logo"/>
      
    </div>
    <div class="body" style="background-color: black;">
        <div class="flex-container" >
            <div class="column">
                <a href="#">
                <img src="./../pngs/people.png" alt="Image 1" class="circular-image">
                <h2>People</h2>
                </a>
            </div>
            <div class="column">
                <a href="#">
                <img src="./../pngs/groups.png" alt="Image 2" class="circular-image">
                <h2>Groups</h2>
                </a>
            </div>
            <div class="column">
                <a href="#">
                <img src="./../pngs/transactions.png" alt="Image 3" class="circular-image">
                <h2>Transactions</h2>
                </a>
            </div>
        </div>
    </div>
  </body>
</html>
